/* General */

body {
    background-color: #B6154F;
}

h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

/* Form */

label {
    color: #B6154F;
    font-weight: bold;
}

::placeholder {
    text-align: center;
    font-weight: bold;
}

.form-control {
    border: 2px solid #B6154F;
}

button {
    border-color: orange;
    border-radius: 10px;
    color: #B6154F;
    font-weight: bold;
}