/* General */

body {
    background-color: #B6154F;
}

h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 20px 0;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

/* Form */

.card-top {
    border-radius: 25px;
}

label {
    color: #B6154F;
    font-weight: bold;
}

::placeholder {
    text-align: center;
    font-weight: bold;
}

.form-control {
    border: 2px solid #B6154F;
}

button {
    border-color: orange;
    border-radius: 10px;
    color: #B6154F;
    font-weight: bold;
}

/* Card bottom */

.test {
    display: none;
}

.card-bottom-bottom {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.col-sx {
    background-color: lightgray;
}